.contenedor {
  max-width: 900px;
  margin: 20px auto;
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Filtro */
.filtro {
  margin-bottom: 15px;
  text-align: right;
}

.filtro input {
  padding: 5px 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: white;
  font-weight: bold;
}

button:disabled {
  background-color: #6c757d;
  cursor: default;
}

.aceptado {
  color: green;
  font-weight: bold;
}

.denegado {
  color: red;
  font-weight: bold;
}
