.footer {
  background-color: #252525;
  color: #b0bec5;
  font-weight: 600;
  text-align: center;
  padding: 0.2rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.9rem;
  backdrop-filter: blur(6px);
  border-top: 1px solid #90909070;
;
}

.footer span {
  color: #ffffff;
  font-weight: 500;
}
