.footer {
  background-color: #252525;
  color: #b0bec5;
  font-weight: 600;
  text-align: center;
  padding: 0.3rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  backdrop-filter: blur(6px);
  border-top: 1px solid #90909070;
}

.footer span {
  color: #ffffff;
  font-weight: 500;
}

/* Responsive */
@media (max-width: 900px) {
  .footer {
    font-size: 0.9rem;
    padding: 0.25rem 0;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 0.8rem;
    padding: 0.2rem 0;
  }
}
