.menu-vertical {
  width: 220px;
  height: 85vh;
  background: #1e1e2f;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.25);
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  position: fixed;    
  top: 70px;             
  left: 0; 
  display: flex;
  flex-direction: column;
  z-index: 1000;      
  margin: 0;
}

.titulo {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

li:hover {
  background: #2a2a40;
}

.activo {
  background: #3f51b5;
}
