
.main {
  position: relative;      /* Necesario para que fondo-login quede dentro */
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: black; 
  padding-top: 40px;
}

.fondo-login {
  position: absolute;       /* Detrás del login */

   width: 90%;   
  height:85%; 
  background-image: url('../../assets/images/Picsart_25-12-13_22-14-53-402.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; 
  opacity: 0.2;            
  z-index: 0;               
}

/* Login card encima del fondo */
.login-card {
  position: relative;        /* Para que esté encima */
  z-index: 1;                /* Siempre encima del fondo */
  background-color: #cca20cdd; /* Fondo semi-transparente */
  width: 100%;
  max-width: 400px;
  border: 1.5px solid #90909070; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.693);
  border-radius: 10px;
}

/* Input y estilos internos */
.input-group {
  background-color: #ffffff14;
  border: 1px solid #7e6403;
}

.input-group-text mat-icon {
  color: #000000;
}

.form-control {
  background: transparent;
  color: #000000;
}

.form-control::placeholder {
  color: #eae4e4;
}

/* Botón */
.btn {
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(204, 161, 12, 0.4);
}

.btn:hover {
  background-color: #c6c6c6; 
  color: #5e5e5e;
  box-shadow: 0 0 15px rgba(199, 199, 199, 0.6);
}

/* Título */
h2 {
  font-family: 'Poppins', sans-serif;
  color: #131312; 
  text-shadow: 0 0 8px #cccccc86;
}
