.menu-lateral {
  width: 230px;
  height: 100vh;
  background-color: #252525;
  padding: 20px;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.menu-header {
  text-align: center;
  margin-bottom: 40px;
}

.avatar {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ffffff;
}

.username {
  font-size: 18px;
  font-weight: 600;
}

.menu-items {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: #ffffff;
}

.menu-item:hover {
  background-color: #d8b32b;
    border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
    margin-right: -20px; 
  font-weight: 500;
  color: #252525;
}
.menu-item:hover .icon {
  color: #252525;
}
.menu-item .icon {
  font-size: 20px;
}
.menu-item.logout {
  margin-top: auto; /* Empuja el botón al final del menú */
  background-color: #e74c3c;
  padding: 10px;

  color: #fff;
}

.menu-item.logout:hover {
  background-color: #c0392b;
    padding: 12px 16px;
  border-radius: 8px;
    font-weight: 400;
  padding: 12px;

}
.menu-item.logout:hover .icon {
  color: #fff;

}