
<app-consulta-visitante
  [visible]="mostrarModal"
  [editData]="editandoVisitante"
  (onClose)="cerrarModal()"
  (onSubmitForm)="onGuardarDesdeModal($event)">
</app-consulta-visitante>

<div class="gestion-container">
  <button class="btn-guardar" (click)="abrirModalAgregar()">+ Agregar Visitante</button>


  <h3>Visitantes Programados</h3>

  <table class="tabla-visitantes">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Identificación</th>
        <th>Placa</th>
        <th>Válido Desde</th>
        <th>Válido Hasta</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of visitantes">
        <td>{{ v.nombreCompleto }}</td>
        <td>{{ v.identificacion }}</td>
        <td>{{ v.placaVehiculo || "N/A" }}</td>
        <td>{{ v.fechaInicio | date : "dd/MM/yy HH:mm" }}</td>
        <td>{{ v.fechaFin | date : "dd/MM/yy HH:mm" }}</td>
        <td>
          <button class="btn-editar" (click)="onEditar(v.id)">Editar</button>
          <button class="btn-eliminar" (click)="onEliminar(v.id)">
            Eliminar
          </button>
        </td>
      </tr>
      <tr *ngIf="visitantes.length === 0">
        <td colspan="6" style="text-align: center">
          No hay visitantes programados.
        </td>
      </tr>
    </tbody>
  </table>
</div>
