/* Contenedor general del diálogo */
:host {
  display: block;
  padding: 20px;
  background: #ffffff;
}

/* Título */
h3 {
  color: #0f2438;
  font-weight: 400;
  margin-bottom: 20px;
}

/* Grupo de formulario */
.form-group {
margin-bottom: 7px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #0f2438;
}

/* Inputs */
.form-control {
  border-radius: 10px;
  padding: 10px 12px;
  border: 1px solid #cfd8dc;
  transition: 0.3s ease;
}

.form-control:focus {
  border-color: #0f2438;
  box-shadow: 0 0 8px rgba(15, 36, 56, 0.25);
}

/* Botón guardar */
button.btn-success {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  background-color: #2e7d32;
  border: none;
}

button.btn-success:hover {
  background-color: #1b5e20;
}
