body {
  background-color: #000000; 
  display: flex;            
  justify-content: center;  
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.fondo-imagen {
  background-image: url('../../assets/images/Picsart_25-12-13_22-14-31-041.png');
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: contain;
  width: 800px;   
  height: 600px; 
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
}

/* Media Queries para Responsive */
@media (max-width: 900px) {
  .fondo-imagen {
    width: 90%;
    height: 450px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .fondo-imagen {
    width: 95%;
    height: 300px;
  }
}
